@import "../../global.scss";

.skills{
    background-color: white;
    overflow-y: hidden;

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        top:20%;
        position: relative;

        @include mobile{
            top:0;
        }

        h2{
            font-size: 4.5rem;
            font-weight: 300;
            
            @include mobile{
                font-size: 2rem;
            }
        }
    }
    .wrapper{
        width: 54%;
        margin: 10% auto;
        display: flex;
        flex-wrap: wrap;
        
        @include mobile{
            width: 100%;
            justify-content: center;
        }

        .iconContainer{
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 20px;

            i{
                font-size: 8rem;

                @include mobile{
                    font-size: 3.5rem;
                }
            }
        }
        .nameHolder{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}