.intro{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 700px;
            height: 700px;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            img{
                width: 100%;
            }
        }

    }

    .right{
        flex: 0.5;
        position: relative;
        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 50px;
                margin: 10px 0;
            }

            h2{
                font-size: 35px;
            }

            h3{
                font-size: 20px;
            }

            .socialLinks{
                font-size: x-large;
                display: flex;
                justify-content: space-between;
                align-content: center;
                width: 30%;
                margin: 25px 10px;

                .MuiSvgIcon-root{
                    cursor: pointer;
                }
            }
        }

        
    }
}